.rulesPage header {
  background-color: #cecece;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: initial;
  position: sticky;
  top: 0;
}
.rulesPage header img {
  margin-right: 30px;
}
.rulesPage header h2 {
  color: #616f85;
}
.rulesPageInner {
  padding: 20px;
  max-width: 1000px;
  margin-inline: auto;
}
.rulesPageInner div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rulesPageInner div img {
  margin-bottom: 50px;
}
.searchUserPage {
  width: 100%;
  height: 100%;
}
.searchUserPage header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchUserPage header div {
  width: calc(100% - 50px);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchUserPage header div input {
  border: none;
  background-color: transparent;
  padding: 5px 15px;
  font-size: 16px;
  width: 100%;
  background-color: #616f85;
  color: #e2e2e2;
  font-weight: 600;
  border-radius: 30px;
}
.searchUserPage header div input::placeholder{
  color: #cecece;
}
#noUserDiv{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  border: 3px solid;
  border-radius: 5px;
  padding: 20px;
  font-weight: 600;
  background-color: #e2e2e2;
}





.selectedUser {
  padding: 30px 15px;
  margin-inline: auto;
  max-width: 1000px;
  background-color: #cecece;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.selectedUserInnerTop {
 display: flex;
 margin-bottom: 20px;
 font-size: 22px;
 font-weight: 500;
 align-items: center;
}
.selectedUserInnerTop span{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0f0f22;
  margin-right: 20px;
}

.selectedUserInner{
  display: flex;
  flex-direction: column;
}
.selectedUserInnerButtonsDiv{
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  place-items: center;
}
.selectedUserInnerButtonsDiv button {
  width: 95%;
  max-width: 500px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  color: rgb(233, 233, 233);
  font-size: 16px;
}
#addBtnSearchPage{
  background-color: #45458d;
}

@media screen and (min-width: 769px) {
  .rulesPageInner div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
/* onboarding page */
.onbordingPage{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: #c5c5c5dd;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  display: grid;
  place-items: center;
  color: red;
}
.onboardingError{
  width: 80%;
  max-width: 500px;
  text-align: center;
  border: 2px solid #45458d;
  padding: 20px;
  border-radius: 30px;
  position: relative;
  top: -50px;
}
.onboardingError header{
  font-size: 25px;
}
.onboardingError hr{
  margin-bottom: 30px;
  border: 1px solid #45458d;
}
.onboardingError p{
  font-size: 20px;
}
.onboardingError button{
  all: unset;
  color: #cecece;
  margin: 30px 0 0 15px;
  padding: 10px 30px;
  background-color: #0f0f22;
  border-radius: 5px;
}
