*:focus {
  outline: none;
}

.settingsPage {
  width: 100%;
  min-height: 100%;
  background-color: #cecece;
  color: #1f3756;
}

.settingsPage>header {
  padding: 15px;
  top: 0;
  position: sticky;
  background-color: #cecece;
  z-index: 2;
}

.settingsPageInner {
  background-color: white;
  height: calc(100% - 65px);
  padding: 20px 0;
  max-width: 1000px;
  margin-inline: auto;
}

.changeNameText {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.inputName {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: initial;
}

.inputName input {
  height: 30px;
  width: calc(100% - 100px);
  background-color: rgba(206, 206, 206, 0.8);
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 16px;
}

.inputName button {
  height: 30px;
  min-width: 72px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: #1f3756;
  color: white;
  border: none;
  border-radius: 3px;
}
#nameTakenText {
  margin: 0 20px;
  font-size: 14px;
  color: red;
}

.uploadTextSettings {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}



.uploadTextSettings p {
  font-weight: 500;
}


.uploadTextSettings  p:last-of-type {
  margin-right: 10px;
  background-color: #1f3756;
  color: white;
  padding: 5px 15px;
  border-radius: 3px;
}

.controlSound,
.controlMusic {
  margin: 15px 0;
  padding: 10px;
  position: relative;
}

.controlSound p,
.controlMusic p {
  font-weight: 500;
}

#soundSlider,
#musicSlider {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#soundSlider p,
#musicSlider p {
  width: 55px;
  padding-left: 20px;
}

.playerMode,
.GameMode,
.totalRounds,
.clearMultiplayerGame {
  padding: 10px;
}

.playerMode header p,
.GameMode header p {
  font-weight: 500;
  margin-bottom: 10px;
}

.playerMode div p,
.GameMode div p {
  background-color: rgba(206, 206, 206, 0.8);
  margin: 5px 0;
  padding: 8px 5px;
  border-radius: 3px;
}
.clearMultiplayerGame{
  background-color: rgb(245, 91, 56);
  margin: 10px;
  border-radius: 3px;
  color: #f5f5f5;
  font-weight: 600;
}

.totalRounds header {
  display: flex;
  align-items: center;
}

#trm {
  font-size: 13px;
  margin-left: 5px;
  color: grey;
}

.totalRoundsOptionDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px solid;
  margin: 10px 0;
  border-radius: 5px;
}

.totalRoundsOptionDiv p {
  text-align: center;
  padding: 5px 0;
}

.quickSettingsToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.quickSettingsToggle p {
  font-weight: 500;
}

.toogleContainer {
  width: 55px;
  height: 28px;
  background-color: #cecece;
  border-radius: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.toogleBall {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #1f3756;
}

@media screen and (min-width: 1201px) {
  .settingsPageInner {
    border-radius: 10px;
    padding-inline: 20px;
    max-width: 900px;
  }
}

.logoutBtn {
  padding: 10px;
  margin: 20px 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #c12101ed;
  color: white;
  font-size: 19px;
  font-weight: 500;
}
/*  */
.imagePreviewContainer {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.ImagePreviewIcon{
  margin-bottom: 10px;
}
.imagePreviewInner {
  height: calc(100% - 100px);
  max-width: 1000px;
  margin: auto;
  background-color: #888b92;
  border-radius: 10px;
}

.uploadImgSection {
  height: 50%;
  background-color: white;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noImgUploaded{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.noImgUploaded input{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.noImgUploaded p{
  font-size: 25px;
  color: #888b92;
}
#uploadedImgCancelIcon{
  position: absolute;
  width: 40px;
  top: -35px;
  right: -10px;
}
.imagePreview{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.ImgPreviewSection {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#croppedImage{
  height: 60%;
  max-height: 60%;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.imagePreviewSubmitBtn{
  all: unset;
  position: absolute;
  padding: 10px 0px;
  background-color: #050520;
  color: white;
  border-radius: 30px;
  width: 80%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}