.notificationPage {
  width: 100%;
  height: 100%;
  background-color: #cecece;
  color: #1f3756;
}
.notificationPage header {
  padding: 17px;
  margin-bottom: 20px;
  top: 0;
  position: sticky;
}

.notificationPageInner {
  width: 100%;
  padding: 0 15px;
  max-width: 900px;
  margin: auto;
}

.receivedChallenge {
  background: #f8f9ff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.receivedChallenge header {
  all: initial;
  color: #1f3756;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.receivedChallenge > header > span{
  width: 40px;
  height: 40px;
  background-color: grey;
  margin-right: 15px;
  border-radius: 50%;
}
.receivedChallenge header p {
  margin: 10px 0;
}
.receivedChallenge footer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.receivedChallenge footer button {
  width: calc(50% - 20px);
  max-width: 200px;
  padding: 9px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}
.receivedChallenge footer :first-child {
  background-color: #c74141;
  color: #e6e6e6;
}
.receivedChallenge footer :last-child {
  background-color: #26943e;
  color: #e6e6e6;
}

.otherNotifications {
  background-color: white;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 15px;
}
.notificationTrashIcon{
  position: relative;
  top: 3px;
}

.receivedRequests {
  background-color: rgba(247, 247, 247, 0.8235294118);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}
.receivedRequests div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.receivedRequests div span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: grey;
}
.receivedRequests footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.receivedRequests footer button {
  width: calc(50% - 20px);
  max-width: 200px;
  padding: 9px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}
.receivedRequests footer :first-child {
  background-color: #c74141;
  color: #e6e6e6;
}
.receivedRequests footer :last-child {
  background-color: #26943e;
  color: #e6e6e6;
}

@media screen and (min-width: 769px) {
  .receivedChallenge footer {
    justify-content: space-around;
  }
  .receivedRequests footer {
    justify-content: space-around;
  }
}