ul li {
  list-style-type: none;
}

.friendsPage {
  width: 100%;
  height: 100%;
  background-color: white;
}

.friendsPage header {
  padding: 20px 15px;
}

.friendsPageInner {
  padding: 10px;
}

.friendContainer {
  height: 110px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: initial;
  margin: 15px auto;
  display: flex;
  background-color: #e3e3e3;
  padding: 0px 10px;
  border-radius: 5px;
}

.friendPFP {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendPFP div {
  width: 70px;
  height: 70px;
  background-color: grey;
  border-radius: 50%;
}

.friendInfo {
  width: calc(100% - 100px);
  height: 100%;
}

.friendInfo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.friendInfo header p {
  font-size: 20px;
  font-weight: 600;
}

.friendInfo>div {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.friendInfo>div div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: rgb(73, 73, 73);
}
.friendInfo>div div:hover {
  background-color: rgba(175, 160, 182, 0.316);
  border-radius: 10px 10px 0 0;
}

.friendInfo>div div img {
  margin-bottom: 5px;
}

.friendsPopupsContainer {
  position: fixed;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #c4c4c43a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 3;
}

.removeFriendSection {
  width: 80%;
  max-width: 450px;
  height: 170px;
  background-color: #c0c0c0;
  border-radius: 4px;
  padding: 20px;
  font-weight: 500;
}

.removeFriendSection p {
  padding: 10px;
  text-align: center;
}

.removeFriendSection footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

.removeFriendSection footer :first-child {
  background-color: #e9e9ff;
}

.removeFriendSection footer :last-child {
  background-color: #ffdfdf;
}

.removeFriendSection footer button {
  padding: 10px;
  width: 40%;
  max-width: 150px;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

#friendRemovalConfirmationDiv {
  width: 90%;
  max-width: 800px;
  height: 150px;
  background-color: #13134c;
  border-radius: 15px;
  color: white;
}

#friendRemovalConfirmationDiv p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

#friendRemovalConfirmationDiv div {
  display: flex;
  justify-content: space-evenly;
}

#friendRemovalConfirmationDiv div button {
  width: 40%;
  max-width: 200px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
}

#FPYesBtn {
  background-color: #cc4428;
  color: #e3e3e3;
}

.gameChalleengeSection {
  background-color: #8a948a;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}


.gameChalleengeSection div:first-of-type {
  font-size: 20px;
  margin: 20px 0;
  height: 90px;
  width: 90px;
  background-color: #0d064d;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid;
}

.gameChalleengeSection div:last-of-type {
  margin: 20px;
}
.gameChalleengeSection div:last-of-type p {
  padding-bottom: 10px;
  color: #00001c;
  font-size: 20px;
}

.gameChalleengeSection button {
  padding: 12px;
  border: none;
  width: 60%;
  max-width: 250px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 10px auto;
}

.friendChatContainer {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #070521;
}

.friendChatContainer header {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #ebebebf9;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.friendChatContainer header h2 {
  margin-left: 30px;
  font-size: 25px;
}

.friendChatBody {
  min-height: calc(100% - 78px);
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin: auto;
}

.messageContainer {
  padding: 15px 20px;
  max-width: clamp(10%, 80%, 500px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: hidden;
  word-break: break-all;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #79797d;
  color: white;
}


.sentMessages {
  margin-left: auto;
  background-color: #069406;
}

.inputSection {
  width: 100%;
  height: 51px;
  background-color: #ebebeb;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  bottom: 0;
  background-color: #f0f0f0;
}

.inputSection textarea {
  width: 80%;
  resize: none;
  padding: 5px;
  min-height: 30px;
  overflow-y: hidden;
  border: none;
  background-color: #f0f0f0;
}

.inputSection div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 2px;
}

.inputSection div img {
  position: relative;
  left: 3px;
}

@media screen and (min-width: 1200px) {
  .friendChatBody{
    padding: 10px 30px 40px 30px;
  }
}