@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appInner {
  position: relative;
  width: 100%;
  max-height: calc(100% - 80px);
  height: calc(100% - 80px);
  overflow-y: auto;
}

.extraSmallIcon {
  width: 10px;
  position: relative;
}

.smallIcon {
  width: 12px;
  position: relative;
}

.small_medium {
  width: 16px;
  position: relative;
}

.mediumIcon {
  width: 20px;
  position: relative;
}

.largeIcon {
  width: 28px;
  position: relative;
}

.extraLargeIcon {
  width: 40px;
  position: relative;
}

.links {
  all: unset;
}

.links:hover {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .App {
    flex-direction: row;
  }
  .appInner {
    width: calc(100% - 220px);
    min-height: 100%;
  }
}
@media screen and (min-width: 1201px) {
  .appInner {
    width: calc(100% - 320px);
    height: 100%;
  }
}